.nav{
    padding: 10px;
    background-color:#23252E;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    flex-wrap: wrap;
    box-shadow: 2px 2px 5px rgb(8, 8, 8, .30);
    border-bottom: 3px solid #84c95f;
    position: fixed;
    width: 100%;
    height:10%;
    display: flex;
    justify-content: flex-start;
    z-index: 8;
    
}

.Link-nav{
    padding: 0px 10px;
}


.dark .boton{
    background-color:#23252e00;
    font-size: 1.2em;
    color: #84c95f;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    /* padding: 0px 10px; */
    cursor: pointer;
    transition: all 500ms;
    text-decoration: none !important;
}

.light .boton{
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.2em;
    color: #84c95f;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    /* padding: 0px 10px; */
    cursor: pointer;
    transition: all 500ms;
    text-decoration: none !important;
}
.boton:hover{
    transform: scale(.95);
}



.contenedorPresentacion{
   position: relative;
   padding-top: 25%;
   left: 25%;
   width: 80%;
   height: 80%;
   padding-bottom: 10%;
}

.react-player{
    position:absolute;
    top: 27%;
    left: 0;
    color: #84c95f;
}


.titulo{
    font-size: 39px;
    padding-left: 0px;
    margin-bottom: 0;
    font-weight: 100;
    text-shadow: 2px 2px 5px rgb(8, 8, 8, .30);
}

.quiensoy{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-left: -7%;
    color: #84c95f;
    font-size: 35px;
    margin-bottom: 20px;
    
    
}

.quiensooy{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-left: 40px;
    color: #84c95f;
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.light .texto{
    color: rgba(95, 113, 97, 1);
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    /* font-weight: 550; */
}

.texto{
    margin-top: 50px;
}

.dark .texto{
    color: #84c95f;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

}

.contenedorinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /*  width: 100%; */
    width: 80%;
    margin: 20px auto;
}
 .tituloProyectos{
    color: rgba(95, 113, 97, 1);
    font-size: 22px;
    width: 450px;
    padding: 15px 20px;
    margin-left: 90px;

    /* background-color: rgba(237, 237, 237, 1); */
    text-align: left;
}
.contenedorrr{
    display: flex;
    flex-direction: row;
  /*   background-color: #84c95f; */
   
}

.botonVisitar{
    padding: 10px 15px;
    background-color: #84c95f;
    color: #23252E;
    border: none;
    margin-top: 15px;
    font-size: 22px;
    margin-bottom: 35px;
    cursor: pointer;
    transition: all 500ms;
    border-radius: 5px;

}
.botonVisitar:hover{
    transform: scale(1.05);
}

.loguitos{
    border-radius: 100px;
    background-color: #84c95f;
    padding: 10px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
.contenedorTecnologias{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    margin: 20px;
    margin-top: 30px;
}
.img{
    width: 35px;
    height: 35px;
}
.light .contacto{
    color: rgba(95, 113, 97, 1);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark .contacto{
    color: #84c95f;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgContacto{
    height: 35px;
    margin-right: 10px;
    margin-top: 5px;
    color: rgba(95, 113, 97, 1);
}

.Spanish{
    justify-content: center;
    margin-left: 40%;
}
.imgSpanish{
    width: 35px;
    height: 35px;
}

#toggle{
    display: none;
}

.buttonDark{
    display: flex;
    width: 80px;
    height: 30px;
    background-color: #84c95f;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    margin-left: 50%;
    margin-top: 15px;
   
    
}

.buttonDark::after{
    content: url("./img/sun.png"); 
    width: 40px;
    height: 40px;
    background-color: #84c95f;
    border: 2px solid #84c95f;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0, .25);
    position: absolute;
    top: -5px;
    left:0;
    display: grid;
    place-content: center;
    line-height: 0;
  /*   transition: background-color 2s, transform 2s ease-in; */
  transition: all 2s;
    
}

#toggle:checked + .buttonDark::after{
    content: url("./img/moon.png");
    background-color: #84c95f;
    border: 2px solid #84c95f;
    transform: translateX(50px) rotate(360deg);

}

.dark .main-Footer{
    width: 100%;
    height: 150px;

    background-color: #23252E;
    background-position: cover;
    border-top: 1px solid #84c95f ;

    text-decoration: none;
    transition: all 2s;
}

.light .main-Footer{
    width: 100%;
    height: 150px;

    background-color: white;
    background-position: cover;
    border-top: 1px solid #84c95f ;

    text-decoration: none;
    transition: all 2s;
}

.light .redes-container .foot-btn {
    background-color: #84c95f;
    color: #23252E;
    
}

.light .redes-container .foot-btn::before{
    background: linear-gradient(rgb(179, 179, 179), white);

}

.light .redes-container .foot-btn:hover{
    color: #84c95f;
}

.light .texto{
   /*  background-color: #23252e26; */
    transition: all 2s;

}

.dark .texto{
   /*  background-color: rgb(75, 74, 74); */
    transition: all 2s;

}
.contactame:hover{
text-decoration: none;
}

@media (min-width: 1800px ) {

    .dark .boton{
        
        font-size: 1.5em;
       
    }
    
    .light .boton{
        
        font-size: 1.5em;
    }
    .buttonDark{
       
            display: flex;
            width: 90px;
            height: 35px;
            background-color: #84c95f;
            border-radius: 30px;
            position: relative;
            cursor: pointer;
            margin-left: 60%;
            margin-top: 20px;
    }

    .nav{
        height:8%;
    }
    .quiensoy{
    
        margin-top: 30px;
    }

    .contenedorPresentacion{
        
        padding-bottom: 2%;
        left: 32%;
     }
     
}

@media(max-width: 1024px ){
    .dark .boton{
       
        font-size: 1.2em;
       
        
    }
    
    .light .boton{
        
        font-size: 1.2em;
        
    }
    .buttonDark{
       
        margin-left: 50%;
        margin-top: 15px;
        display: flex;
        width: 50px;
        height: 25px;
        background-color: #84c95f;
        border-radius: 30px;
        position: relative;
        cursor: pointer;
       
    }
    .Link-nav{
        padding: 20px 10px;
    }
   
  
}